streamlit
python-dotenv
langchain
langchain-classic
langchain-community<0.4.0
langchain-core
langchain-faiss
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
torchvision
gradio
requests